<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label "Nome" %><br>
      <%= f.text_field :name, class: "form-control "%>
    </div>
    <div class="field">
      <%= f.label "Diretor" %><br>
      <%= f.select :director_id , @directors,{prompt:"Selecione"}, {class: "form-control"} %>
    </div>
    <div class="field">
      <%= f.label "Categoria" %><br>
      <%= f.select :category_id , @categories,{prompt:"Selecione"}, {class: "form-control"} %>
    </div><br>
    <div class="actions">
      <%= f.submit "Salvar", class: "btn btn-success btn-sm" %>
    </div>
<% end %>
